# compiled output
/dist
/build
/coverage
/.cache
/.vscode
/.idea

# env
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

#Other
zklogin-data/*.zkey
zklogin-data/*.vkey
zklogin-ceremony-contributions/
